<!-- <hello name="{{ name }}"></hello> -->
<h3>Different ways to pass values between parent and child</h3>
<div class="headerBar">
	<div class="navBarOuter" routerLink=""><a class="navBar">Passing values from parent to child example </a></div>
  <div class="navBarOuter" routerLink="/child-parent-example-parent"><a class="navBar">Passing values from child to parent example </a></div>
  <div class="navBarOuter" routerLink="/child-var-example-parent"><a class="navBar">Passing values from parent to child using child variable example </a></div>
	<div class="navBarOuter" routerLink="/view-parent"><a class="navBar">@View child example</a></div>
</div>
<router-outlet></router-outlet>